body {
 font-size: 16px;
}

#button {
	margin:100px;
	padding: 17px;
	color: #FFE4E1;
	size: 12;
	background-color: #4B0082;
	border: 1px solid blue;
}

h1 {
 font-size: 1.5rem;
 color: orangered;
}
div {
 padding: 1rem;
}
div h2 {
 font-size: 1.2rem;
 color: blue;
}
div p {
 font-size: 0.9rem;
 color: gray;
}
