body {
  margin-right: auto;
  margin-left:  auto;
  max-width: 600px;
  /*padding-right: 50px;
  padding-left:  50px;*/
  padding: 50px 15px;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #9555af;	
}

.btn:hover {
  color: #9050AA;
  border-color: currentColor;
  background-color: white;
  cursor: pointer;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.content-hidden {
	display: none;
}


/*body {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 15px;
}

.list-header {
	font-weight: 700;
}

.list-content {
	background-color: rgb(216, 246, 239);
}

.fade-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(8, 112, 32, 0.68);
}

.mobil-window {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: transform(-50%, -50%);
}*/



