body {
 background-color:  red;

}

#button, #btn, #btnK, #btnG, #btnT, #btnF, #btnQ, #btnW, #btnE, #btnR, #btnY  {
 margin: 120px;
 padding: 20px;
 color: green;
 cursor: pointer;


}

#elem {
 display: block;
 display: none;	
} 
